# Challenge Part 2: Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [32]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [33]:
city_data_df = pd.read_csv("./data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,vardo,20,NO,few clouds,87,70.37,31.11,44.60,0.0,0.0,2.24
1,1,avarua,98,CK,overcast clouds,64,-21.21,-159.78,75.20,0.0,0.0,9.17
2,2,hermanus,62,ZA,broken clouds,91,-34.42,19.23,55.00,0.0,0.0,5.75
3,3,saint-philippe,43,RE,scattered clouds,82,-21.36,55.77,66.20,0.0,0.0,4.70
4,4,yellowknife,20,CA,few clouds,38,62.46,-114.35,79.00,0.0,0.0,19.46
...,...,...,...,...,...,...,...,...,...,...,...,...
548,548,matagami,90,CA,light rain,65,49.75,-77.63,77.00,0.0,0.0,8.05
549,549,agadez,0,NE,clear sky,11,19.75,10.25,86.47,0.0,0.0,4.70
550,550,sao joao da barra,0,BR,clear sky,78,-21.64,-41.05,75.20,0.0,0.0,11.41
551,551,swift current,20,CA,few clouds,59,50.28,-107.80,62.60,0.0,0.0,8.05
552,552,maridi,0,SS,clear sky,93,4.92,29.47,66.36,0.0,0.0,2.55

In [34]:
city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [35]:
# configure gmaps
gmaps.configure(api_key = g_key)

In [36]:
# Enter max temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?70
What is the maximum temperature you would like for your vacation?100

In [38]:
# Ask the customer if you want it to be raining
rain_amount = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)no

In [39]:
snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be snowing? (yes/no)no

In [41]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] == 0)]
    
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] > 0.0)]
                
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] == 0)]
                
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] > 0.0)]

In [42]:
filtered_cities_df.head()

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
1,1,avarua,98,CK,overcast clouds,64,-21.21,-159.78,75.20,0.0,0.0,9.17
4,4,yellowknife,20,CA,few clouds,38,62.46,-114.35,79.00,0.0,0.0,19.46
6,6,katobu,48,ID,scattered clouds,91,-4.94,122.53,74.10,0.0,0.0,6.51
7,7,cherskiy,16,RU,few clouds,23,68.75,161.30,84.15,0.0,0.0,16.96
9,9,jalu,0,LY,clear sky,55,29.03,21.55,74.10,0.0,0.0,13.33

In [43]:
filtered_cities_df.count()

City_ID                222
City                   222
Cloudiness             222
Country                222
Current Description    222
Humidity               222
Lat                    222
Lng                    222
Max Temp               222
Rain (inches)          222
Snow (inches)          222
Wind Speed             222
dtype: int64

In [44]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
1,1,avarua,98,CK,overcast clouds,64,-21.21,-159.78,75.20,0.0,0.0,9.17
4,4,yellowknife,20,CA,few clouds,38,62.46,-114.35,79.00,0.0,0.0,19.46
6,6,katobu,48,ID,scattered clouds,91,-4.94,122.53,74.10,0.0,0.0,6.51
7,7,cherskiy,16,RU,few clouds,23,68.75,161.30,84.15,0.0,0.0,16.96
9,9,jalu,0,LY,clear sky,55,29.03,21.55,74.10,0.0,0.0,13.33
...,...,...,...,...,...,...,...,...,...,...,...,...
542,542,misratah,0,LY,clear sky,75,32.38,15.09,71.13,0.0,0.0,13.94
543,543,bodden town,40,KY,scattered clouds,75,19.28,-81.25,89.60,0.0,0.0,12.75
548,548,matagami,90,CA,light rain,65,49.75,-77.63,77.00,0.0,0.0,8.05
549,549,agadez,0,NE,clear sky,11,19.75,10.25,86.47,0.0,0.0,4.70
550,550,sao joao da barra,0,BR,clear sky,78,-21.64,-41.05,75.20,0.0,0.0,11.41

In [45]:
filtered_cities_df.count()

City_ID                222
City                   222
Cloudiness             222
Country                222
Current Description    222
Humidity               222
Lat                    222
Lng                    222
Max Temp               222
Rain (inches)          222
Snow (inches)          222
Wind Speed             222
dtype: int64

In [46]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp    Lat     Lng Hotel Name
1       avarua      CK     75.20 -21.21 -159.78
4  yellowknife      CA     79.00  62.46 -114.35
6       katobu      ID     74.10  -4.94  122.53
7     cherskiy      RU     84.15  68.75  161.30
9         jalu      LY     74.10  29.03   21.55

In [47]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel Not Found... skipping...")

Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...
Hotel Not Found... skipping...

In [48]:
hotel_df.head()

          City Country  Max Temp    Lat     Lng          Hotel Name
1       avarua      CK     75.20 -21.21 -159.78        Paradise Inn
4  yellowknife      CA     79.00  62.46 -114.35  The Explorer Hotel
6       katobu      ID     74.10  -4.94  122.53       La Ode Husein
7     cherskiy      RU     84.15  68.75  161.30          Gostinitsa
9         jalu      LY     74.10  29.03   21.55          Jalu Hotel

In [49]:
output_data_file = "./data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [50]:
vacation_df = pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df.head()

   City_ID         City Country  Max Temp    Lat     Lng          Hotel Name
0        1       avarua      CK     75.20 -21.21 -159.78        Paradise Inn
1        4  yellowknife      CA     79.00  62.46 -114.35  The Explorer Hotel
2        6       katobu      ID     74.10  -4.94  122.53       La Ode Husein
3        7     cherskiy      RU     84.15  68.75  161.30          Gostinitsa
4        9         jalu      LY     74.10  29.03   21.55          Jalu Hotel

In [51]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [52]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))